$site-width: 850px;
$breakpoint-sm: 480px;
$breakpoint-md: 740px;
$breakpoint-lg: 1200px;

$color-black: #000;
$color-white: #fff;
$color-white-dull: #f0f0f0;
$color-white-duller: #f9f9f9;
$color-selection: #bbb;
$color-brand-100: #C5CAE9;
$color-brand-200: #9FA8DA;
$color-brand-300: #7986CB;
$color-brand-400: #5C6BC0;
$color-brand-500: #3F51B5;
$color-brand-highlight-300: #4FC3F7;
$color-brand-highlight-500: #03A9F4;
$color-content: #333;
$color-content-light: #999;
$color-input: $color-content;
$color-info: $color-brand-highlight-300;
$color-warning: #fcf8e3;
$color-error: #EF5350;
$color-success: #66BB6A;
$color-border: #ddd;

$body-bg: $color-white;
$body-font-size: 16px;
$body-line-height: 1;
$global-radius: 5px;
$global-radius-sm: 3px;
$global-transition: 0.2s ease;
$global-spacing: 8px;

$site-header-height: 64px;
