.map {
  width: 100%;
  height: calc(70vh - #{$site-header-height});
}

.map-legend {
  padding: 10px;
  border: 1px solid $color-black;
  background: $color-white;

  div + div {
    margin-top: $global-spacing;
  }

  img {
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: $global-spacing;
  }
}

.map-controls {
  padding: ($global-spacing * 4) ($global-spacing * 2);
}

.map-controls-clusters {
  margin-bottom: $global-spacing;

  select {
    width: 100%;
    max-width: 300px;
  }
}

.map-controls-activities {
}

.activity {
  vertical-align: top;
  display: inline-block;
  margin-right: ($global-spacing * 4);
}

.activity-input {
  vertical-align: middle;
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0 $global-spacing 0 0;
}

.activity-table,
.uniquefieldDiv,
#teacherTutorAnimatorDiv {
  display: none;
}

.activity-table {
  padding: $global-spacing;
  margin-top: $global-spacing;
  margin-bottom: ($global-spacing * 2);
  margin-left: $global-spacing;

  th,
  td {
    text-align: center;
    padding: $global-spacing ($global-spacing * 2);
  }

  th:first-child,
  td:first-child {
    text-align: left;
  }

  th {
    font-size: 14px;
    font-weight: 700;
  }

  td {
    cursor: pointer;
  }
}
