#map {
  float: left;
  height: 800px;
  width: 1400px;
}
#legend {
  background: white;
  padding: 10px;
  border: 1px solid black;
}

#activities {
  float: left;
  padding: 10px;
  width: 450px;
}

.activitiesDiv, .uniquefieldDiv, #teacherTutorAnimatorDiv {
  display: none;
}
